In [1]:
import pandas as pd
import re

In [2]:
eq_data = pd.read_csv("Eartquakes-1990-2023.csv")
eq_data.head(10)

,time,place,status,tsunami,significance,data_type,magnitudo,state,longitude,latitude,depth,date
0,631153353990,"12 km NNW of Meadow Lakes, Alaska",reviewed,0,96,earthquake,2.50,Alaska,-149.669200,61.730200,30.100,1990-01-01 00:22:33.990000+00:00
1,631153491210,"14 km S of Volcano, Hawaii",reviewed,0,31,earthquake,1.41,Hawaii,-155.212333,19.317667,6.585,1990-01-01 00:24:51.210000+00:00
2,631154083450,"7 km W of Cobb, California",reviewed,0,19,earthquake,1.11,California,-122.806167,38.821000,3.220,1990-01-01 00:34:43.450000+00:00
3,631155512130,"11 km E of Mammoth Lakes, California",reviewed,0,15,earthquake,0.98,California,-118.846333,37.664333,-0.584,1990-01-01 00:58:32.130000+00:00
4,631155824490,"16km N of Fillmore, CA",reviewed,0,134,earthquake,2.95,California,-118.934000,34.546000,16.122,1990-01-01 01:03:44.490000+00:00
5,631155853760,"16km N of Fillmore, CA",reviewed,0,118,earthquake,2.77,California,-118.923000,34.543000,16.342,1990-01-01 01:04:13.760000+00:00
6,631156030570,"6 km WSW of Mammoth Lakes, California",reviewed,0,20,earthquake,1.13,California,-119.040000,37.632667,-1.499,1990-01-01 01:07:10.570000+00:00
7,631156431950,"12 km E of Mammoth Lakes, California",reviewed,0,11,earthquake,0.83,California,-118.834167,37.661500,0.556,1990-01-01 01:13:51.950000+00:00
8,631156614070,"11 km E of Mammoth Lakes, California",reviewed,0,39,earthquake,1.59,California,-118.840167,37.662333,-0.234,1990-01-01 01:16:54.070000+00:00
9,631156620210,"1 km W of Wilkeson, Washington",reviewed,0,74,earthquake,2.20,Washington,-122.071167,47.102500,8.382,1990-01-01 01:17:00.210000+00:00

In [3]:
eq_data['distance_in_km'] = eq_data['place'].str.extract(r'(\d+)').astype(float)
eq_data.head(10)

,time,place,status,tsunami,significance,data_type,magnitudo,state,longitude,latitude,depth,date,distance_in_km
0,631153353990,"12 km NNW of Meadow Lakes, Alaska",reviewed,0,96,earthquake,2.50,Alaska,-149.669200,61.730200,30.100,1990-01-01 00:22:33.990000+00:00,12.0
1,631153491210,"14 km S of Volcano, Hawaii",reviewed,0,31,earthquake,1.41,Hawaii,-155.212333,19.317667,6.585,1990-01-01 00:24:51.210000+00:00,14.0
2,631154083450,"7 km W of Cobb, California",reviewed,0,19,earthquake,1.11,California,-122.806167,38.821000,3.220,1990-01-01 00:34:43.450000+00:00,7.0
3,631155512130,"11 km E of Mammoth Lakes, California",reviewed,0,15,earthquake,0.98,California,-118.846333,37.664333,-0.584,1990-01-01 00:58:32.130000+00:00,11.0
4,631155824490,"16km N of Fillmore, CA",reviewed,0,134,earthquake,2.95,California,-118.934000,34.546000,16.122,1990-01-01 01:03:44.490000+00:00,16.0
5,631155853760,"16km N of Fillmore, CA",reviewed,0,118,earthquake,2.77,California,-118.923000,34.543000,16.342,1990-01-01 01:04:13.760000+00:00,16.0
6,631156030570,"6 km WSW of Mammoth Lakes, California",reviewed,0,20,earthquake,1.13,California,-119.040000,37.632667,-1.499,1990-01-01 01:07:10.570000+00:00,6.0
7,631156431950,"12 km E of Mammoth Lakes, California",reviewed,0,11,earthquake,0.83,California,-118.834167,37.661500,0.556,1990-01-01 01:13:51.950000+00:00,12.0
8,631156614070,"11 km E of Mammoth Lakes, California",reviewed,0,39,earthquake,1.59,California,-118.840167,37.662333,-0.234,1990-01-01 01:16:54.070000+00:00,11.0
9,631156620210,"1 km W of Wilkeson, Washington",reviewed,0,74,earthquake,2.20,Washington,-122.071167,47.102500,8.382,1990-01-01 01:17:00.210000+00:00,1.0

In [4]:
def check_lake(place):
    if re.search(r'\bLake\b|\bLakes\b', place, re.IGNORECASE):
        return 1
    else:
        return 0

eq_data['near_lake'] = eq_data['place'].apply(check_lake)

In [5]:
def check_volcano(place):
    if re.search(r'\bVolcano\b|\bVolcanoes\b', place, re.IGNORECASE):
        return 1
    else:
        return 0

eq_data['near_volcano'] = eq_data['place'].apply(check_volcano)

In [6]:
def check_mountain(place):
    if re.search(r'\bMountain\b|\bMountains\b', place, re.IGNORECASE):
        return 1
    else:
        return 0

eq_data['near_mountain'] = eq_data['place'].apply(check_mountain)

In [7]:
def check_valley(place):
    if re.search(r'\bValley\b|\bValleys\b', place, re.IGNORECASE):
        return 1
    else:
        return 0

eq_data['near_valley'] = eq_data['place'].apply(check_valley)

In [8]:
def check_island(place):
    if re.search(r'\bIsland\b|\bIslands\b', place, re.IGNORECASE):
        return 1
    else:
        return 0

eq_data['near_island'] = eq_data['place'].apply(check_island)

In [9]:
def check_river(place):
    if re.search(r'\bRiver\b|\bRivers\b', place, re.IGNORECASE):
        return 1
    else:
        return 0

eq_data['near_river'] = eq_data['place'].apply(check_river)

In [10]:

def check_hills(place):
    if re.search(r'\bHill\b|\bHills\b', place, re.IGNORECASE):
        return 1
    else:
        return 0

eq_data['near_hills'] = eq_data['place'].apply(check_hills)

In [11]:
def check_forest(place):
    if re.search(r'\bForest\b|\bForests\b', place, re.IGNORECASE):
        return 1
    else:
        return 0

eq_data['near_forest'] = eq_data['place'].apply(check_forest)

In [12]:
def check_city(place):
    if re.search(r'\bCity\b|\bCities\b', place, re.IGNORECASE):
        return 1
    else:
        return 0

eq_data['near_city'] = eq_data['place'].apply(check_city)

In [13]:
def check_village(place):
    if re.search(r'\bVillage\b|\bVillages\b', place, re.IGNORECASE):
        return 1
    else:
        return 0

eq_data['near_village'] = eq_data['place'].apply(check_village)

In [14]:
def check_springs(place):
    if re.search(r'\bSpring\b|\bSprings\b', place, re.IGNORECASE):
        return 1
    else:
        return 0

eq_data['near_springs'] = eq_data['place'].apply(check_springs)

In [15]:
def check_ocean(place):
    if re.search(r'\bocean\b|\boceans\b', place, re.IGNORECASE):
        return 1
    else:
        return 0

eq_data['near_ocean'] = eq_data['place'].apply(check_ocean)

In [16]:
def check_bay(place):
    if re.search(r'\bBay\b', place, re.IGNORECASE):
        return 1
    else:
        return 0

eq_data['near_bay'] = eq_data['place'].apply(check_bay)

In [17]:
# Summing the number of '1's in each specified column
sum_near_lake = eq_data['near_lake'].sum()
sum_near_volcano = eq_data['near_volcano'].sum()
sum_near_mountain = eq_data['near_mountain'].sum()
sum_near_valley = eq_data['near_valley'].sum()
sum_near_island = eq_data['near_island'].sum()
sum_near_river = eq_data['near_river'].sum()
sum_near_hills = eq_data['near_hills'].sum()
sum_near_city = eq_data['near_city'].sum()
sum_near_forest = eq_data['near_forest'].sum()
sum_near_village = eq_data['near_village'].sum()
sum_near_springs = eq_data['near_springs'].sum()
sum_near_ocean = eq_data['near_ocean'].sum()
sum_near_bay = eq_data['near_bay'].sum()




# Printing the sums
print(f"Total near lake: {sum_near_lake}")
print(f"Total near volcano: {sum_near_volcano}")
print(f"Total near mountain: {sum_near_mountain}")
print(f"Total near valley: {sum_near_valley}")
print(f"Total near island: {sum_near_island}")
print(f"Total near river: {sum_near_river}")
print(f"Total near hills: {sum_near_hills}")
print(f"Total near city: {sum_near_city}")
print(f"Total near forest: {sum_near_forest}")
print(f"Total near village: {sum_near_village}")
print(f"Total near springs: {sum_near_springs}")
print(f"Total near ocean: {sum_near_ocean}")
print(f"Total near bay: {sum_near_bay}")

Total near lake: 207102
Total near volcano: 53044
Total near mountain: 2841
Total near valley: 94149
Total near island: 91833
Total near river: 8453
Total near hills: 10047
Total near city: 39163
Total near forest: 8183
Total near village: 15673
Total near springs: 100393
Total near ocean: 1873
Total near bay: 32905

In [18]:
missing_values_count = eq_data['distance_in_km'].isna().sum()
print("missing distances", missing_values_count)

eq_data

missing distances 172584

,time,place,status,tsunami,significance,data_type,magnitudo,state,longitude,latitude,...,near_valley,near_island,near_river,near_hills,near_forest,near_city,near_village,near_springs,near_ocean,near_bay
0,631153353990,"12 km NNW of Meadow Lakes, Alaska",reviewed,0,96,earthquake,2.50,Alaska,-149.669200,61.730200,...,0,0,0,0,0,0,0,0,0,0
1,631153491210,"14 km S of Volcano, Hawaii",reviewed,0,31,earthquake,1.41,Hawaii,-155.212333,19.317667,...,0,0,0,0,0,0,0,0,0,0
2,631154083450,"7 km W of Cobb, California",reviewed,0,19,earthquake,1.11,California,-122.806167,38.821000,...,0,0,0,0,0,0,0,0,0,0
3,631155512130,"11 km E of Mammoth Lakes, California",reviewed,0,15,earthquake,0.98,California,-118.846333,37.664333,...,0,0,0,0,0,0,0,0,0,0
4,631155824490,"16km N of Fillmore, CA",reviewed,0,134,earthquake,2.95,California,-118.934000,34.546000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3445746,1690626851941,"5 km NW of Chikusei, Japan",reviewed,0,326,earthquake,4.60,Japan,139.940200,36.350700,...,0,0,0,0,0,0,0,0,0,0
3445747,1690626975715,"Kodiak Island region, Alaska",automatic,0,44,earthquake,1.70,Alaska,-153.729900,57.790100,...,0,1,0,0,0,0,0,0,0,0
3445748,1690627215940,"12 km W of Alberto Oviedo Mota, B.C., MX",automatic,0,90,earthquake,2.42,B.C.,-115.296833,32.233167,...,0,0,0,0,0,0,0,0,0,0
3445749,1690628146040,"7 km W of Cobb, CA",automatic,0,16,earthquake,1.03,California,-122.800499,38.827499,...,0,0,0,0,0,0,0,0,0,0
3445750,1690628937884,"35 km W of Karluk, Alaska",automatic,0,12,earthquake,0.90,Alaska,-155.051000,57.564800,...,0,0,0,0,0,0,0,0,0,0

In [19]:
#replacing NaN with o in distance_in_km
eq_data['distance_in_km'].fillna(0, inplace=True)

In [20]:
# deleting place we have latitude and longitude so the directional data (SE, NW) is not useful 
eq_data.drop('place', axis=1, inplace=True)

In [21]:
unique_values = eq_data['data_type'].unique()

# Print the unique values
print(unique_values)

['earthquake' 'quarry blast' 'explosion' 'other event' 'nuclear explosion'
 'rock burst' 'ice quake' 'chemical explosion' 'sonic boom'
 'mine collapse' 'rockslide' 'Rock Slide' 'accidental explosion'
 'landslide' 'quarry' 'mining explosion' 'acoustic noise' 'not reported'
 'experimental explosion' 'collapse' 'meteorite'
 'induced or triggered event' 'volcanic eruption' 'Ice Quake'
 'snow avalanche']

In [22]:
#counting only earthquake events 

eq1_data = eq_data.copy()

eq1_data = eq1_data[eq_data['data_type'] == 'earthquake']
eq1_data.drop('data_type', axis=1, inplace=True)

eq1_data

,time,status,tsunami,significance,magnitudo,state,longitude,latitude,depth,date,...,near_valley,near_island,near_river,near_hills,near_forest,near_city,near_village,near_springs,near_ocean,near_bay
0,631153353990,reviewed,0,96,2.50,Alaska,-149.669200,61.730200,30.100,1990-01-01 00:22:33.990000+00:00,...,0,0,0,0,0,0,0,0,0,0
1,631153491210,reviewed,0,31,1.41,Hawaii,-155.212333,19.317667,6.585,1990-01-01 00:24:51.210000+00:00,...,0,0,0,0,0,0,0,0,0,0
2,631154083450,reviewed,0,19,1.11,California,-122.806167,38.821000,3.220,1990-01-01 00:34:43.450000+00:00,...,0,0,0,0,0,0,0,0,0,0
3,631155512130,reviewed,0,15,0.98,California,-118.846333,37.664333,-0.584,1990-01-01 00:58:32.130000+00:00,...,0,0,0,0,0,0,0,0,0,0
4,631155824490,reviewed,0,134,2.95,California,-118.934000,34.546000,16.122,1990-01-01 01:03:44.490000+00:00,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3445746,1690626851941,reviewed,0,326,4.60,Japan,139.940200,36.350700,83.039,2023-07-29 10:34:11.941000+00:00,...,0,0,0,0,0,0,0,0,0,0
3445747,1690626975715,automatic,0,44,1.70,Alaska,-153.729900,57.790100,24.400,2023-07-29 10:36:15.715000+00:00,...,0,1,0,0,0,0,0,0,0,0
3445748,1690627215940,automatic,0,90,2.42,B.C.,-115.296833,32.233167,1.770,2023-07-29 10:40:15.940000+00:00,...,0,0,0,0,0,0,0,0,0,0
3445749,1690628146040,automatic,0,16,1.03,California,-122.800499,38.827499,1.720,2023-07-29 10:55:46.040000+00:00,...,0,0,0,0,0,0,0,0,0,0
3445750,1690628937884,automatic,0,12,0.90,Alaska,-155.051000,57.564800,250.000,2023-07-29 11:08:57.884000+00:00,...,0,0,0,0,0,0,0,0,0,0

In [25]:
eq1_data['date'] = pd.to_datetime(eq1_data['date'], format='ISO8601')
eq1_data

,time,status,tsunami,significance,magnitudo,state,longitude,latitude,depth,date,...,near_valley,near_island,near_river,near_hills,near_forest,near_city,near_village,near_springs,near_ocean,near_bay
0,631153353990,reviewed,0,96,2.50,Alaska,-149.669200,61.730200,30.100,1990-01-01 00:22:33.990000+00:00,...,0,0,0,0,0,0,0,0,0,0
1,631153491210,reviewed,0,31,1.41,Hawaii,-155.212333,19.317667,6.585,1990-01-01 00:24:51.210000+00:00,...,0,0,0,0,0,0,0,0,0,0
2,631154083450,reviewed,0,19,1.11,California,-122.806167,38.821000,3.220,1990-01-01 00:34:43.450000+00:00,...,0,0,0,0,0,0,0,0,0,0
3,631155512130,reviewed,0,15,0.98,California,-118.846333,37.664333,-0.584,1990-01-01 00:58:32.130000+00:00,...,0,0,0,0,0,0,0,0,0,0
4,631155824490,reviewed,0,134,2.95,California,-118.934000,34.546000,16.122,1990-01-01 01:03:44.490000+00:00,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3445746,1690626851941,reviewed,0,326,4.60,Japan,139.940200,36.350700,83.039,2023-07-29 10:34:11.941000+00:00,...,0,0,0,0,0,0,0,0,0,0
3445747,1690626975715,automatic,0,44,1.70,Alaska,-153.729900,57.790100,24.400,2023-07-29 10:36:15.715000+00:00,...,0,1,0,0,0,0,0,0,0,0
3445748,1690627215940,automatic,0,90,2.42,B.C.,-115.296833,32.233167,1.770,2023-07-29 10:40:15.940000+00:00,...,0,0,0,0,0,0,0,0,0,0
3445749,1690628146040,automatic,0,16,1.03,California,-122.800499,38.827499,1.720,2023-07-29 10:55:46.040000+00:00,...,0,0,0,0,0,0,0,0,0,0
3445750,1690628937884,automatic,0,12,0.90,Alaska,-155.051000,57.564800,250.000,2023-07-29 11:08:57.884000+00:00,...,0,0,0,0,0,0,0,0,0,0

In [28]:

# Convert state names to unique numeric codes using pandas categorization.

eq2_data = eq1_data.copy()

eq2_data['state_code'] = eq_data['state'].astype('category').cat.codes
eq2_data.drop('state', axis=1, inplace=True)

In [29]:
eq2_data

,time,status,tsunami,significance,magnitudo,longitude,latitude,depth,date,distance_in_km,...,near_island,near_river,near_hills,near_forest,near_city,near_village,near_springs,near_ocean,near_bay,state_code
0,631153353990,reviewed,0,96,2.50,-149.669200,61.730200,30.100,1990-01-01 00:22:33.990000+00:00,12.0,...,0,0,0,0,0,0,0,0,0,6
1,631153491210,reviewed,0,31,1.41,-155.212333,19.317667,6.585,1990-01-01 00:24:51.210000+00:00,14.0,...,0,0,0,0,0,0,0,0,0,106
2,631154083450,reviewed,0,19,1.11,-122.806167,38.821000,3.220,1990-01-01 00:34:43.450000+00:00,7.0,...,0,0,0,0,0,0,0,0,0,46
3,631155512130,reviewed,0,15,0.98,-118.846333,37.664333,-0.584,1990-01-01 00:58:32.130000+00:00,11.0,...,0,0,0,0,0,0,0,0,0,46
4,631155824490,reviewed,0,134,2.95,-118.934000,34.546000,16.122,1990-01-01 01:03:44.490000+00:00,16.0,...,0,0,0,0,0,0,0,0,0,374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3445746,1690626851941,reviewed,0,326,4.60,139.940200,36.350700,83.039,2023-07-29 10:34:11.941000+00:00,5.0,...,0,0,0,0,0,0,0,0,0,126
3445747,1690626975715,automatic,0,44,1.70,-153.729900,57.790100,24.400,2023-07-29 10:36:15.715000+00:00,0.0,...,1,0,0,0,0,0,0,0,0,6
3445748,1690627215940,automatic,0,90,2.42,-115.296833,32.233167,1.770,2023-07-29 10:40:15.940000+00:00,12.0,...,0,0,0,0,0,0,0,0,0,26
3445749,1690628146040,automatic,0,16,1.03,-122.800499,38.827499,1.720,2023-07-29 10:55:46.040000+00:00,7.0,...,0,0,0,0,0,0,0,0,0,374
3445750,1690628937884,automatic,0,12,0.90,-155.051000,57.564800,250.000,2023-07-29 11:08:57.884000+00:00,35.0,...,0,0,0,0,0,0,0,0,0,6

In [31]:
# droping unwanted features 
eq3_data = eq2_data.copy()

eq3_data.drop('time', axis=1, inplace=True)
eq3_data.drop('status', axis=1, inplace=True)
eq3_data

,tsunami,significance,magnitudo,longitude,latitude,depth,date,distance_in_km,near_lake,near_volcano,...,near_island,near_river,near_hills,near_forest,near_city,near_village,near_springs,near_ocean,near_bay,state_code
0,0,96,2.50,-149.669200,61.730200,30.100,1990-01-01 00:22:33.990000+00:00,12.0,1,0,...,0,0,0,0,0,0,0,0,0,6
1,0,31,1.41,-155.212333,19.317667,6.585,1990-01-01 00:24:51.210000+00:00,14.0,0,1,...,0,0,0,0,0,0,0,0,0,106
2,0,19,1.11,-122.806167,38.821000,3.220,1990-01-01 00:34:43.450000+00:00,7.0,0,0,...,0,0,0,0,0,0,0,0,0,46
3,0,15,0.98,-118.846333,37.664333,-0.584,1990-01-01 00:58:32.130000+00:00,11.0,1,0,...,0,0,0,0,0,0,0,0,0,46
4,0,134,2.95,-118.934000,34.546000,16.122,1990-01-01 01:03:44.490000+00:00,16.0,0,0,...,0,0,0,0,0,0,0,0,0,374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3445746,0,326,4.60,139.940200,36.350700,83.039,2023-07-29 10:34:11.941000+00:00,5.0,0,0,...,0,0,0,0,0,0,0,0,0,126
3445747,0,44,1.70,-153.729900,57.790100,24.400,2023-07-29 10:36:15.715000+00:00,0.0,0,0,...,1,0,0,0,0,0,0,0,0,6
3445748,0,90,2.42,-115.296833,32.233167,1.770,2023-07-29 10:40:15.940000+00:00,12.0,0,0,...,0,0,0,0,0,0,0,0,0,26
3445749,0,16,1.03,-122.800499,38.827499,1.720,2023-07-29 10:55:46.040000+00:00,7.0,0,0,...,0,0,0,0,0,0,0,0,0,374
3445750,0,12,0.90,-155.051000,57.564800,250.000,2023-07-29 11:08:57.884000+00:00,35.0,0,0,...,0,0,0,0,0,0,0,0,0,6

In [32]:
column_data_types = eq3_data.dtypes

print(column_data_types)

tsunami                         int64
significance                    int64
magnitudo                     float64
longitude                     float64
latitude                      float64
depth                         float64
date              datetime64[ns, UTC]
distance_in_km                float64
near_lake                       int64
near_volcano                    int64
near_mountain                   int64
near_valley                     int64
near_island                     int64
near_river                      int64
near_hills                      int64
near_forest                     int64
near_city                       int64
near_village                    int64
near_springs                    int64
near_ocean                      int64
near_bay                        int64
state_code                      int16
dtype: object

In [34]:
eq4_data = eq3_data.copy()

eq4_data['state'] = eq1_data['state']

In [35]:
eq4_data

,tsunami,significance,magnitudo,longitude,latitude,depth,date,distance_in_km,near_lake,near_volcano,...,near_river,near_hills,near_forest,near_city,near_village,near_springs,near_ocean,near_bay,state_code,state
0,0,96,2.50,-149.669200,61.730200,30.100,1990-01-01 00:22:33.990000+00:00,12.0,1,0,...,0,0,0,0,0,0,0,0,6,Alaska
1,0,31,1.41,-155.212333,19.317667,6.585,1990-01-01 00:24:51.210000+00:00,14.0,0,1,...,0,0,0,0,0,0,0,0,106,Hawaii
2,0,19,1.11,-122.806167,38.821000,3.220,1990-01-01 00:34:43.450000+00:00,7.0,0,0,...,0,0,0,0,0,0,0,0,46,California
3,0,15,0.98,-118.846333,37.664333,-0.584,1990-01-01 00:58:32.130000+00:00,11.0,1,0,...,0,0,0,0,0,0,0,0,46,California
4,0,134,2.95,-118.934000,34.546000,16.122,1990-01-01 01:03:44.490000+00:00,16.0,0,0,...,0,0,0,0,0,0,0,0,374,California
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3445746,0,326,4.60,139.940200,36.350700,83.039,2023-07-29 10:34:11.941000+00:00,5.0,0,0,...,0,0,0,0,0,0,0,0,126,Japan
3445747,0,44,1.70,-153.729900,57.790100,24.400,2023-07-29 10:36:15.715000+00:00,0.0,0,0,...,0,0,0,0,0,0,0,0,6,Alaska
3445748,0,90,2.42,-115.296833,32.233167,1.770,2023-07-29 10:40:15.940000+00:00,12.0,0,0,...,0,0,0,0,0,0,0,0,26,B.C.
3445749,0,16,1.03,-122.800499,38.827499,1.720,2023-07-29 10:55:46.040000+00:00,7.0,0,0,...,0,0,0,0,0,0,0,0,374,California
3445750,0,12,0.90,-155.051000,57.564800,250.000,2023-07-29 11:08:57.884000+00:00,35.0,0,0,...,0,0,0,0,0,0,0,0,6,Alaska

In [40]:
unique_combinations = eq4_data[['state', 'state_code']].drop_duplicates().sort_values(by='state_code')

unique_combinations.to_csv('state_and_state_codes.csv', index=False)

In [42]:
eq4_data.to_csv("../preprocessed_data.csv", index=False)